.shortcut{
    margin-top: 30px;
}

.row{
    display: flex;
    justify-content: center;
}
.row-2{
    margin-top: 25px;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    width: 80px;
}

.icon-name{
    padding-top: 15px;
}

.YT{
    color: #ff0000;
}