.search{
    background-color: yellow;
    display: flex;
    flex-direction: column ;
    align-items: center;

}

input{
    outline: none;
    border: none;
    width: 500px;
    height: 30px;
}

.search-container{
    height: 40px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 99px;
}